.search{
  height : 30px;
  background-color: coral;
  padding-top: 5px;
  text-align: center;
}
.box{
  height: auto;
  width:300px;
  background-color: #D3D3D3;
  border: 1px;
  border-color: black;
}
.headerList{
  background-color: #FAF0E6;
  height: 30px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color: #800000;
}
.bottom{
  height: 30px;
  padding-top: 10px;
  padding-left: 50px;
  background-color: #FAF0E6;
}
.list{
}
.item{
  height: 25px;
  width: 200px;
}
.remove{
float:right;
margin-right: 16px;
}
